# 下挂终端数据库主机地址
DB_HOST=192.168.0.231
DB_PORT=4000

# 下挂终端数据库主机端口号
DB_USER=root
DB_PASS=123456

# 下挂终端数据库名称
DB_DATABASE=test

# 下挂终端数据库上下线历史记录表名前缀
TABLE_TERMINAL_PREFIX=test_
TABLE_SHARDING=64

# 每个表分区数量 = TABLE_PARTITION_MAX + TABLE_PARTITION_FORWARD
# 最大分区保留个数(对应数据最大保留天数，默认7天)
TABLE_PARTITION_MAX=7
# 预留未来分区个数(对应当前日期向未来的天数，默认7天)
TABLE_PARTITION_FORWARD=7

# 下挂终端数据库转储时更换的临时表名前缀
TABLE_TERMINAL_BACKUP_PREFIX=backup_

## 数据备份
# PD服务器地址
PD_HOST=192.168.0.232
PD_PORT=2379
# 存放备份的NFS路径
BACKUP_ROOT=local:///backup
TIDB_GID=1000
TIDB_UID=1000
